.img-title{
    object-fit: cover;
    object-position: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    margin-top: 2rem;
}

.pagination{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.pagination li > button{
    color: #fff;
}

.pagination li > div{
    color: #fff;
}

@media (max-width: 750px){
    .img-title{
        width: 100%;
    }
}